<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular</title>
</head>
<body>
    A: <input type="text" id="valorA"/><br/>
    B: <input type="text" id="valorB"/><br/>
    Operação:
    <select id="op" onchange="calcular()">
        <option value="soma">Somar</option>
        <option value="sub">Subtrair</option>
        <option value="mult">Multiplicar</option>
        <option value="div">Dividir</option>
    </select>
    <p id="resultado"></p>
    <script></script>
</html>
</body>
</html>